<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>GrapeGPT</title>
</head>

<header>
    <nav class="navbar navbar-expand-lg" style="background-color: #171717">
        <div class="container-fluid">
            <span>
                <a class="navbar-brand nav-link text-light" href="{{ url_for('routes.index') }}">Home</a> 
                <a class="navbar-brand nav-link text-light" href="{{ url_for('routes.gpt') }}">GrapeGPT</a> 
                <a class="navbar-brand nav-link text-light" href="{{ url_for('routes.info') }}">Info</a>
                <a class="navbar-brand nav-link text-light" href="{{ url_for('routes.contact') }}">Contact</a>
            </span>
        </div>
    </nav>
</header>

<body class="chat-container">
<main>
    <div class="banner" style="height: 600px; text-align: center;">
        <span class="index-label mb-10 mx-4">gpt-3.5-turbo</span>
        <span class="index-label mb-10 mx-4">DALL-E</span>
        <h1 class="text-white index" id="title">GrapeGPT</h1>
    </div>
    <div class="container mt-5">
        <h1 class="index-header">Navigation</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="card text-white card-grape mb-3 animated" style="max-width: 18rem;" onclick="goToPage('gpt')">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">GrapeGPT</h5>
                        <p class="card-text">Use the chatbot now.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-white card-grape mb-3 animated" style="max-width: 18rem;" onclick="goToPage('info')">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Info</h5>
                        <p class="card-text">Info regarding how the chatbot works.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-white card-grape mb-3 animated" style="max-width: 18rem;" onclick="goToPage('contact')">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Contacts</h5>
                        <p class="card-text">Contact me :)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


    
    <footer class="bg-dark text-white py-3 mt-5 footer">
        <div class="container">
            <p class="text-center mb-0">Copyright &copy; 2023 - All Rights Reserved</p>
        </div>
    </footer>
    <!-- Bootstrap JavaScript and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>


<style>
    .bg-grape {
        background-color: #98D60E;
    }
    .card-grape {
        background-color: #98D60E;
        border-color: #B5F271;
    }
    .card-grape .card-header {
        background-color: #65BA13;
    }
</style>
